---
test:
  name: cpu
  description: This is an example benchmark for caliper, to test the backend DLT's
    performance with cpu heavey chaincode.
  clients:
    type: local
    number: 1
  rounds:
  - label: prime
    description: Prime factorization
    txNumber:
    - 100
    rateControl:
    - type: fixed-rate
      opts:
        tps: 50
    arguments:
      num: 10000
    callback: benchmark/cpu/prime.js
monitor:
  type:
  - docker
  - process
  docker:
    name:
    - all
  process:
  - command: node
    arguments: local-client.js
    multiOutput: avg
  interval: 1
