---
test:
  name: delta
  description: This is an example benchmark for caliper, to test the backend DLT's
    performance with deltas.
  clients:
    type: local
    number: 1
  rounds:
  - label: conflict
    description: Conflicting transactions 
    txNumber:
    - 1000
    rateControl:
    - type: fixed-rate
      opts:
        tps: 90
    callback: benchmark/delta/conflict.js
  - label: delta
    description: Delta fix
    txNumber:
    - 1000
    rateControl:
    - type: fixed-rate
      opts:
        tps: 90
    callback: benchmark/delta/delta.js
monitor:
  type:
  - docker
  - process
  - remote
  docker:
    name:
    - all
  process:
  - command: node
    arguments: local-client.js
    multiOutput: avg
  remote:
  - node: http://peer0.org1.example.com:9001
    multiOutput: avg
  - node: http://peer0.org2.example.com:9001
    multiOutput: avg
  - node: http://orderer0.example.com:9001
    multiOutput: avg
  - node: http://orderer1.example.com:9001
    multiOutput: avg
  interval: 0.5
